<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Listagem de Investimento</h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Investimento</th>
                <th>Valor</th>
            </tr>
            {% for dado in dados %}
            <tr>
                <td>{{dado.id}}</td>
                <td>{{dado.investimento}}</td>
                <td>{{dado.valor}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>