<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="{% url 'investimento_registrado' %}" method="post">
            {% csrf_token %}
            <label for="">Tipo de Investimento</label>
            <input type="text" name="TipoInvestimento">
            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>